.box3{
    text-align: center;
} 
.heading{
    background-image: url(./photos/image.jpg);
    height:460px ;

}
.siemens{
    text-align: center;
}

hr {
    position: relative;
        top: 20px;
        border: none;
        height: 12px;
        background: rgb(70, 67, 67);
        margin-bottom: 50px;
    }

.line1{
    text-align: center;
}
